header .menuBarmovil .slideMenu {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

p {
  font-size: 14px;
  color: #373736;
  text-align: justify;
}

h2 {
  font-size: 60px;
  color: #373736;
  margin-bottom: 15px;
}

li {
  padding: 5px 10px 5px 10px;
  list-style-type: none;
}

img {
  width: 100%;
  height: auto;
}

a {
  font-weight: 700;
  text-decoration: none;
  color: #373736;
  transition: 0.3s ease;
}
a:hover {
  opacity: 0.8;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

body {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  background: rgb(226, 229, 241);
  background: linear-gradient(30deg, rgb(226, 229, 241) 30%, rgb(208, 208, 208) 65%, rgb(180, 154, 154) 100%);
}

header {
  grid-area: header;
}
header .menuBarpc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(238, 238, 238, 0.116);
  backdrop-filter: blur(100px);
  width: 100%;
  position: fixed;
  z-index: 99;
  top: 0;
  padding: 0 2%;
  min-height: 100px;
}
header .menuBarpc .brand {
  width: 200px;
}
header .menuBarpc .brand img {
  max-width: 150px;
}
header .menuBarpc .menuPrincipal a {
  padding: 0 10px;
}
header .menuBarpc .topRedes {
  display: flex;
}
header .menuBarpc .topRedes a {
  padding: 0 5px;
}
header .menuBarpc .topRedes a svg {
  height: 40px;
}
header .menuBarmovil {
  border-bottom: 1px solid #181818;
  background-color: rgba(238, 238, 238, 0.116);
  backdrop-filter: blur(100px);
  width: 100%;
  position: fixed;
  z-index: 99;
  top: 0;
  padding: 0 2%;
  display: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 94px;
}
header .menuBarmovil .iconMenu {
  width: 45px;
  display: flex;
  flex-direction: column;
  margin: 20px;
  cursor: pointer;
  transition: 0.4s ease-out;
}
header .menuBarmovil .iconMenu .linea-1, header .menuBarmovil .iconMenu .linea-2, header .menuBarmovil .iconMenu .linea-3 {
  width: 45px;
  height: 5px;
  background-color: #373736;
  margin: 4px 0px;
  transition: 0.4s ease-out;
}
header .menuBarmovil .change .linea-1 {
  transform: rotate(-45deg) translate(-5px, 5px);
  position: absolute;
}
header .menuBarmovil .change .linea-2 {
  opacity: 0;
}
header .menuBarmovil .change .linea-3 {
  transform: rotate(45deg) translate(-4px, -4px);
}
header .menuBarmovil .brand img {
  max-width: 150px;
}
header .menuBarmovil .slideMenu {
  background: rgb(238, 238, 238);
  backdrop-filter: blur(100px);
  z-index: 1;
  position: fixed;
  top: 93px;
  left: -100%;
  width: 100%;
  height: 100vh;
  border-top: 1px solid #181818;
}
header .menuBarmovil .slideMenu.active {
  left: 0;
}
header .menuBarmovil .slideMenu .topRedes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: #373736;
  width: 100%;
  padding: 16px 20%;
  margin-top: 16px;
  margin-bottom: 5px;
}
header .menuBarmovil .slideMenu .topRedes a {
  padding: 0 5px;
}
header .menuBarmovil .slideMenu .topRedes a img {
  height: 25px;
}
header .menuBarmovil .slideMenu .menuPrincipal a {
  display: block;
  text-align: center;
  font-size: 18px;
  color: #373736;
  padding: 18px 20px;
  border-bottom: 1px solid #181818;
}

main {
  grid-area: main;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  justify-content: space-between;
  padding: 0px;
  grid-template-areas: "carrucelMotorcycles";
  margin-top: 90px;
}
main .carrucelMotorbike {
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-areas: "cardMotorbike  motorBike";
  padding: 0 60px;
  align-content: space-evenly;
}
main .carrucelMotorbike .cardMotorbike {
  grid-area: cardMotorbike;
  display: grid;
}
main .carrucelMotorbike .cardMotorbike .cardButton {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "cardImg cardInf cardInf cardIcon";
  grid-gap: 30px;
  align-items: center;
  padding-right: 20px;
}
main .carrucelMotorbike .cardMotorbike .cardButton .cardImg {
  grid-area: cardImg;
}
main .carrucelMotorbike .cardMotorbike .cardButton .cardInf {
  grid-area: cardInf;
}
main .carrucelMotorbike .cardMotorbike .cardButton .cardInf h5 {
  font-size: 25px;
  color: #838383;
}
main .carrucelMotorbike .cardMotorbike .cardButton .cardIcon {
  height: 30px;
  width: 30px;
}
main .carrucelMotorbike .cardMotorbike .cardButton:hover {
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "cardImg cardInf cardIcon";
  cursor: pointer;
}
main .carrucelMotorbike .cardMotorbike .cardButton:hover .cardIcon {
  height: 50px;
  width: 50px;
}
main .carrucelMotorbike .cardMotorbike .cardButton:hover .cardInf h5 {
  font-size: 20px;
  color: #373736;
}
main .carrucelMotorbike .motorBike {
  grid-area: motorBike;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: auto;
  justify-content: space-between;
  padding: 0px;
  grid-template-areas: "textmotor imgMotorbike";
}
main .carrucelMotorbike .motorBike .textmotor {
  grid-area: textmotor;
  margin-right: -200px;
  margin-top: 50px;
  grid-gap: 1000px;
}
main .carrucelMotorbike .motorBike .textmotor h3 {
  padding: 20px 0;
  font-size: 70px;
  color: #838383;
}
main .carrucelMotorbike .motorBike .textmotor p {
  padding: 10px 200px 0 0;
  text-align: justify;
  font-weight: 400;
}
main .carrucelMotorbike .motorBike .textmotor p b {
  color: #838383;
}
main .carrucelMotorbike .motorBike .textmotor h4 {
  padding: 20px 0;
  font-size: 50px;
}
main .carrucelMotorbike .motorBike .textmotor .infoMotorbike {
  font-size: 16px;
  padding: 10px 40px;
  font-weight: 700;
  border-radius: 0px;
  border: 1px solid #181818;
  background-color: rgba(238, 238, 238, 0.116);
  backdrop-filter: blur(100px);
}
main .carrucelMotorbike .motorBike .imgMotorbike {
  grid-area: imgMotorbike;
  height: 800px;
  width: 800px;
  background-image: url(../assets/img/product/benelli150.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.mainCredi {
  display: grid;
  grid-template-areas: "crediMotorbike" "totalMonths";
  min-height: 60vh;
  padding: 50px;
  justify-items: center;
}
.mainCredi .crediMotorbike {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  align-content: center;
  justify-items: center;
  grid-template-areas: "emptyCar" "carBikers";
}
.mainCredi .crediMotorbike .emptyCar {
  display: grid;
  justify-items: center;
}
.mainCredi .crediMotorbike .emptyCar h2 {
  font-size: 50px;
  text-align: center;
  color: #ff4848;
}
.mainCredi .crediMotorbike .emptyCar a {
  text-align: center;
  font-size: 16px;
  padding: 10px 40px;
  font-weight: 700;
  border-radius: 0px;
  border: 1px solid #181818;
  background-color: rgba(238, 238, 238, 0.116);
  backdrop-filter: blur(100px);
}
.mainCredi .crediMotorbike .carBikers {
  display: grid;
  justify-items: center;
  grid-template-columns: 30% 50% 20%;
  grid-template-rows: auto;
  align-items: center;
  grid-template-areas: "imgCarbikers infCarbikers iconCarbikers" "titleCarbikers titleCarbikers titleCarbikers";
  min-width: 500px;
  max-width: 800px;
}
.mainCredi .crediMotorbike .carBikers .imgCarbikers {
  grid-area: imgCarbikers;
  height: 150px;
  width: 150px;
}
.mainCredi .crediMotorbike .carBikers .infCarbikers {
  grid-area: infCarbikers;
  text-align: center;
}
.mainCredi .crediMotorbike .carBikers .infCarbikers h5 {
  font-size: 35px;
}
.mainCredi .crediMotorbike .carBikers .infCarbikers p {
  text-align: center;
  font-weight: 300;
}
.mainCredi .crediMotorbike .carBikers .iconCarbikers {
  grid-area: iconCarbikers;
}
.mainCredi .crediMotorbike .carBikers .titleCarbikers {
  grid-area: titleCarbikers;
  margin: 40px 0;
  font-size: 30px;
  color: #838383;
}
.mainCredi .totalMonths {
  display: grid;
  grid-template-areas: "listMonths" "totalCredi";
  margin-bottom: 30px;
}
.mainCredi .totalMonths .listMonths {
  padding: 20px 0;
  margin-bottom: 30px;
}
.mainCredi .totalMonths .listMonths a {
  font-size: 16px;
  margin: 10px;
  padding: 10px 40px;
  font-weight: 700;
  border-radius: 0px;
  border: 1px solid #181818;
  background-color: rgba(238, 238, 238, 0.116);
  backdrop-filter: blur(100px);
}
.mainCredi .totalMonths .totalCredi {
  display: grid;
  justify-items: center;
  text-align: center;
}
.mainCredi .totalMonths .totalCredi p {
  text-align: center;
}
.mainCredi .totalMonths .totalCredi h4 {
  font-size: 35px;
  color: #ff4848;
  line-height: 30px;
}
.mainCredi .totalMonths .totalCredi .feeSegurity {
  padding: 10px 0;
  border-top: 1px solid #838383;
  border-bottom: 1px solid #838383;
  margin: 10px 0;
}

footer {
  grid-area: footer;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto;
  justify-content: space-between;
  padding: 0px;
  grid-template-areas: "parnert" "copyRights";
  background-color: rgba(238, 238, 238, 0.116);
  backdrop-filter: blur(100px);
}
footer .parnert {
  grid-area: parnert;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  justify-content: space-between;
  padding: 30px 50px 40px 50px;
  grid-template-areas: "textParnert logos";
  border-top: #838383 solid 1px;
  align-items: center;
  -moz-column-gap: 100px;
  column-gap: 100px;
}
footer .parnert .logos {
  display: flex;
  grid-gap: 30px;
}
footer .parnert .logos .logo {
  width: 180px;
}
footer .copyRights {
  grid-area: copyRights;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  justify-content: space-between;
  padding: 20px 50px;
  grid-template-areas: "footerRedes footerCopy";
  align-items: center;
  background-color: rgba(238, 238, 238, 0.116);
  backdrop-filter: blur(100px);
  border-top: #838383 solid 1px;
}
footer .copyRights .footerRedes {
  display: flex;
  grid-gap: 5px;
}
footer .copyRights .footerRedes svg {
  height: 40px;
}

@media all and (max-width: 931px) {
  header .menuBarpc {
    display: none;
  }
  header .menuBarmovil {
    display: flex;
  }
}
@media screen and (max-width: 1200px) {
  footer .parnert {
    grid-template-areas: "textParnert" "logos";
    justify-items: center;
  }
  footer .parnert .logos {
    justify-content: space-between;
    margin-top: 20px;
  }
  footer .parnert .logos .logo {
    width: 30%;
  }
}
@media screen and (max-width: 750px) {
  h2 {
    font-size: 40px;
  }
  p {
    font-size: 12px;
  }
  footer .navFooter {
    padding: 20px 40px;
  }
  footer .navFooter .columnMenus .menuFooter {
    display: none;
  }
  footer .navFooter .columnMenus .menuFooter1 ul {
    grid-gap: 10px;
    display: flex;
    font-size: 12px;
  }
  footer .navFooter .columnLogo {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */