//----------------------------------------------
// Const SCSS
//----------------------------------------------
$tabletmax:931px;
$color1:white;
$color2:#373736;
$color3:#262528;
$color4:#838383;
$cons:50px;
%transition{
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
p {
    font-size: 14px;
    color: $color2;
    text-align: justify;
}
h2 {
    font-size: 60px;
    color: $color2;
    margin-bottom: 15px;
}
li {
    padding: 5px 10px 5px 10px;
    list-style-type: none;
}
img {
    width: 100%;
    height: auto;
}
a {
    font-weight: 700;
    text-decoration: none;
    color: $color2;
    transition: 0.3s ease;
    &:hover {
        color: $color4;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.5019607843);
    }
}
@mixin area($name,$columns, $rows, $pandding, $areas) {
    grid-area: $name;
    display: grid;
    grid-template-columns: $columns;
    grid-template-rows: $rows;
    justify-content: space-between;
    padding: $pandding;
    grid-template-areas: $areas;
}
//----------------------------------------------
// Style SCSS
//----------------------------------------------
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}
body{
    display: grid;
    grid-template-areas: "header" "main" "footer";
    background: rgb(226,229,241);
    background: linear-gradient(30deg, rgba(226,229,241,1) 30%, rgba(208,208,208,1) 65%, rgba(180,154,154,1) 100%);
}
header {
    grid-area: header;
    .menuBarpc{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(238, 238, 238, 0.116);
        backdrop-filter: blur(100px);
        width: 100%;
        position: fixed;
        z-index: 99;
        top: 0;
        padding: 0 2%;
        min-height: 100px;
        .brand{
            width: 200px;
            img{
                max-width: 150px;
            }
        }
        .menuPrincipal{
            a{
                padding: 0 10px;
            }
        }
        .topRedes{
            display: flex;
            a{
                padding: 0 5px;
                svg{
                    height:40px;
                }
            }
        }
    }
    .menuBarmovil{
        border-bottom: 1px solid #181818;
        background-color: rgba(238, 238, 238, 0.116);
        backdrop-filter: blur(100px);
        width: 100%;
        position: fixed; 
        z-index: 99;
        top: 0;
        padding: 0 2%;
        display: none;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        min-height: 94px;
        .iconMenu {
            width: 45px;
            display: flex;
            flex-direction: column;
            margin: 20px;
            cursor: pointer;
            transition: 0.4s ease-out;
            .linea-1, .linea-2, .linea-3 {
                width: 45px;
                height: 5px;
                background-color: $color2;
                margin: 4px 0px;
                transition: 0.4s ease-out;
            }
        }
        .change{
            .linea-1 {
                transform: rotate(-45deg) translate(-5px, 5px);
                position: absolute;
            }
            .linea-2 {
                opacity: 0;
            }
            .linea-3 {
                transform: rotate(45deg) translate(-4px, -4px);
            }
        }
        .brand{
            img{
                max-width: 150px;
            }
        }
        .slideMenu{
            background: rgb(238, 238, 238);
            backdrop-filter: blur(100px);
            z-index: 1;
            position: fixed; 
            top: 93px;
            left: -100%;
            width: 100%;
            height: 100vh;
            border-top: 1px solid #181818;
            @extend %transition;
            &.active{
                left: 0;
            }
            .topRedes{
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                color: $color2;
                width: 100%;
                padding: 16px 20%;
                margin-top: 16px;
                margin-bottom: 5px;
                a{
                    padding: 0 5px;
                    img{
                        height: 25px;
                    }
                }
            }
            .menuPrincipal{
                a{
                    display: block;
                    text-align: center;
                    font-size: 18px;
                    color: $color2;
                    padding: 18px 20px;
                    border-bottom: 1px solid #181818;
                }
            }
        }
    }
}
main{@include area(main, 100%, auto, 0px, "carrucelMotorcycles");
    margin-top: 90px;
    .carrucelMotorbike{
        display: grid;
        grid-template-columns:35% 65%;
        grid-template-areas: "cardMotorbike  motorBike";
        padding: 0 30px;
        align-content: space-evenly;
        .cardMotorbike{
            grid-area: cardMotorbike;
            display: grid;
            .cardButton{
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: auto;
                grid-template-areas: "cardImg cardInf cardInf cardIcon";
                grid-gap: 30px;
                align-items: center;
                padding-right: 40px;
                .cardImg { 
                    grid-area: cardImg;
                }
                .cardInf {
                    grid-area: cardInf;
                    h5{
                        font-size: 25px;
                        color: $color4;
                    }
                }
                .cardIcon{
                    height: 30px;
                    width: 30px;
                }
                &:hover{
                    grid-template-columns: repeat(3, 1fr);
                    grid-template-areas: "cardImg cardInf cardIcon";
                    padding-right: 10px;
                    .cardIcon{
                        height: 50px;
                        width: 50px;
                    }
                    .cardInf {
                        h5{
                            font-size: 20px;
                            color: $color2;
                        }
                    }
                }
            }
        }
        .motorBike{
            @include area(motorBike, 30% 70%, auto, 0px , "textmotor imgMotorbike");
            
            .textmotor{ 
                grid-area: textmotor;
                margin-right: -200px;
                margin-top: 50px;
                h3{
                    padding: 20px 0;
                    font-size: 70px;
                    color: $color4;
                }
                p{
                    padding: 0 200px 0 0;
                    text-align: justify;
                    font-weight: 400;
                }
                h4{
                    padding: 20px 0;
                    font-size: 50px;
                }
                .infoMotorbike{
                    font-size: 16px;
                    padding: 10px 40px;
                    font-weight: 700;
                    border-radius: 0px;
                    border: 1px solid #181818;
                    background-color: rgba(238, 238, 238, 0.116);
                    backdrop-filter: blur(100px);
                }
            }
            .imgMotorbike{
                grid-area: imgMotorbike;
                height: 800px;
                width: 800px;
                background-image: url(../assets/img/product/benelli150.png);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat
            }
        }
    }
}
footer {@include area(footer, 100%, auto auto auto, 0px, "parnert" "navFooter" "copyRights");
    background-color: rgba(238, 238, 238, 0.116);
    backdrop-filter: blur(100px);
    .parnert {@include area(parnert, auto, auto, 30px $cons 40px $cons, "textParnert logos");
        border-top: $color4 solid 1px;
        align-items: center;
        -moz-column-gap: $cons*2;
            column-gap: $cons*2;
        .logos {
            display: flex;
            grid-gap: 30px;
            .logo{
                width: ($cons*3)+30;
            }
        }
    }
    .navFooter {@include area(navFooter, auto, auto, 80px $cons 80px $cons, "columnMenus columnMenus columnLogo");
        border-top: $color4 solid 1px;
        .columnLogo {
            max-width: $cons*4;
        }
        .navFooter li {
            padding: 0;
        }
    }
    .copyRights {@include area(copyRights, auto, auto, 20px 50px, "footerRedes footerCopy");
        align-items: center;
        background-color: rgba(238, 238, 238, 0.116);
        backdrop-filter: blur(100px);
        border-top: $color4 solid 1px;
        .footerRedes{
            display: flex;
            grid-gap: 5px;
            svg{
                height:40px;
            }
        }
    }
}
//----------------------------------------------
// Responive SCSS
//----------------------------------------------
@media all and (max-width:$tabletmax){
    header{
        .menuBarpc{
            display: none;
        }
        .menuBarmovil{
            display: flex;
        }
    }
}
@media screen and (max-width: 1200px){
    footer .parnert{
        grid-template-areas: "textParnert" "logos";
        justify-items: center;
        .logos{
            justify-content: space-between;
            margin-top: 20px;
            .logo{
                width: 30%;
            }
        }
    }
}
@media screen and (max-width: 750px){
    h2 {
        font-size: 40px;
    }
    p {
        font-size: 12px;
    }
    footer .navFooter{
        padding: 20px 40px;
        .columnMenus{
            .menuFooter{
            display: none;
            }
            .menuFooter1 ul{
                grid-gap: 10px;
                display: flex;
                font-size: 12px;
            }
        }
        .columnLogo{
            display: none;
        }
    } 
}